<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LearnCard</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<!-- Existing Google OAuth schemes -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.847997887601-uqspqi01hvfm4mf94qjuf8cdoqhpl2kd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-776298253175-ios-407ee413349344f5a2ef72</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.776298253175-74or0s6rg2k2mmdks6d45ro0i4te1bvf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.learncard.app.dccrequest</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dccrequest</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.learncard.app.msprequest</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msprequest</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.learncard.app.asuprequest</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>asuprequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8.3</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false />
	<key>NSCameraUsageDescription</key>
    <string>This allows you to take a photo with your camera and upload that photo for your profile picture.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This app requires access to your photo library to allow you to save photos to it when you click download on a photo.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This allows you to upload images from your photo library to set a profile picture, or use as a thumbnail image in a credential.</string>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true />
	<key>NSCameraUsageDescription</key>
	<string>Allow this app to access the camera so you can scan and claim Boosts via QR code.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow this app to modify your photo library so you can save shareable QR codes and photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow this app to access your photo library so you can add media attachments to boosts, and update your profile photo.</string>
</dict>
</plist>