.gradient-salary {
    background: linear-gradient(90deg, #5b5ce2 0%, #7a5ce6 50%, #9b5de5 75%, #c77dff 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
