.nav-dot-display {
    display: none;
}
.tab-selected {
    .nav-dot-display {
        display: block;
        font-size: 40px;
        transform: translateY(-2px);
        line-height: 10px;
    }
}

ion-tab-bar {
    --background: transparent;
    --border: none;
    border: none;
    box-shadow: none;

    &::before {
        display: none;
    }

    @media (min-width: 992px) {
        display: none;
    }
}

.mobile-nav-notification-button {
    position: absolute;
    right: 20px;
    top: 37%;
    transform: translateY(-50%);
    z-index: 9999;
    background: none;

    @media (max-width: 500px) {
        right: 0px;
    }
}

.mobile-nav-hamburger-button {
    background: none;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    height: 35px;
    width: 41px;
    z-index: 9999;
    border-radius: none !important;

    @media (max-width: 414px) {
        left: 10px;
    }
}

// side menu
.side-menu-collapse-button {
    @media (max-width: 992px) {
        display: none;
    }
}

.side-menu-split-pane-container-visible.split-pane-md.split-pane-visible > .split-pane-side {
    min-width: 270px;
    max-width: 270px;
    border-right: var(--border);
    border-left: 0;
    transition: all 0.3s ease-out;
}

.side-menu-split-pane-container-collapsed.split-pane-md.split-pane-visible > .split-pane-side {
    min-width: 135px;
    max-width: 135px;
    border-right: var(--border);
    border-left: 0;
    transition: all 0.3s ease-in;
}

.side-menu-text-visible {
    font-size: 16px;
    transition: font-size 0.3s ease-out;
}

.side-menu-text-collapsed {
    font-size: 0;
    transition: font-size 0.3s ease-in;
}

.side-menu-list-collapsed {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile-nav-boost-button {
    position: absolute;
    top: -10px;
    background: transparent;
    transform: translateX(-65%);
    z-index: 50;
    height: 75px;
    width: 75px;

    @media (min-width: 500px) {
        left: 52%;
    }
    @media (max-width: 500px) {
        left: 53%;
    }
    @media (max-width: 320px) {
        left: 53.5%;
    }
    @media (min-width: 500px) and (max-width: 768px) {
        left: 51.5%;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        transform: translateX(-70%);
    }
}
