:root {
    --ion-tab-bar-color: white;
    --ion-tab-bar-color-selected: #34eab9;
}

ion-tab-bar {
    --background: transparent;
    border-radius: 0;

    height: 80px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    bottom: -2px;
    position: relative;
    margin: 0 auto !important;
    border-top: none;
}

/* ion-tab-button {
    border-radius: 16px !important;
} */

ion-tab-button ion-icon {
    font-size: 1.75rem;
}
