:root {
    --ion-tab-bar-color: white;
    --ion-tab-bar-color-selected: #34eab9;
}

ion-tab-bar {
    --background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
    border-radius: 20px !important;
    height: 77px;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 20px;
    position: absolute;
    margin: 0 20px !important;
    border-top: none;
}

ion-tab-button {
    border-radius: 16px !important;
    background: transparent;
}

ion-tab-button ion-icon {
    font-size: 1.75rem;
}
