.vc-thumbnail-container {
    max-width: 250px;
}

.vc-thumbnail-container::after {
    content: '';
    display: block;
    padding-bottom: 100%;
    top: 0;
    left: 0;
}

.vc-thumbnail-container::before {
    content: '';
    background-color: #fff;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    z-index: 0;
}

.vc-thumbnail-listview-container::after {
    content: '';
    background-color: #fff;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    position: absolute;
    top: 0;
    left: 0;
    height: 55%;
    width: 100%;
    z-index: 1;
}

@media (max-width: 200px) { 
    .vc-thumbnail-container::before {
        height: 68%;
    }
}