openapi: 3.0.3
info:
  description: API for interacting with LearnCloud Network
  title: LearnCloud Network API
  version: 1.0.0
externalDocs:
  url: https://docs.learncard.com
servers:
- url: https://network.learncard.com/api
tags:
- name: Profiles
- name: Profile Managers
- name: Credentials
- name: Boosts
- name: Presentations
- name: Storage
- name: Contracts
- name: DID Metadata
- name: Claim Hooks
- name: Auth Grants
- name: Utilities
paths:
  /boost/send/{profileId}:
    post:
      description: This endpoint sends a boost to a profile
      operationId: boost-sendBoost
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_sendBoost_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Send a Boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/create:
    post:
      description: This route creates a boost
      operationId: boost-createBoost
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_createBoost_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Creates a boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/create/child:
    post:
      description: This route creates a boost
      operationId: boost-createChildBoost
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_createChildBoost_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Creates a boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost:
    delete:
      description: This route deletes a boost
      operationId: boost-deleteBoost
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Delete a boost
      tags:
      - Boosts
      x-accepts:
      - application/json
    get:
      description: This endpoint gets metadata about a boost
      operationId: boost-getBoost
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getBoost_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost
      tags:
      - Boosts
      x-accepts:
      - application/json
    post:
      description: This route updates a boost
      operationId: boost-updateBoost
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_updateBoost_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Update a boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/all:
    post:
      deprecated: true
      description: |-
        This endpoint gets the current user's boosts.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 boosts. Please use getPaginatedBoosts instead
      operationId: boost-getBoosts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getBoosts_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/boost_getBoosts_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/count:
    post:
      description: This endpoint counts the current user's managed boosts.
      operationId: boost-countBoosts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getBoosts_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Count managed boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/paginated:
    post:
      description: This endpoint gets the current user's boosts
      operationId: boost-getPaginatedBoosts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getPaginatedBoosts_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getPaginatedBoosts_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/recipients:
    get:
      deprecated: true
      description: |-
        This endpoint gets the recipients of a particular boost.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 boosts. Please use getPaginatedBoostRecipients instead
      operationId: boost-getBoostRecipients
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          nullable: true
          type: number
        style: form
      - explode: true
        in: query
        name: skip
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: includeUnacceptedBoosts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/boost_getBoostRecipients_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost recipients
      tags:
      - Boosts
      x-accepts:
      - application/json
  /boost/recipients/paginated:
    post:
      description: This endpoint gets the recipients of a particular boost
      operationId: boost-getPaginatedBoostRecipients
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getPaginatedBoostRecipients_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getPaginatedBoostRecipients_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost recipients
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/recipients/count:
    get:
      description: This endpoint counts the recipients of a particular boost
      operationId: boost-getBoostRecipientCount
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeUnacceptedBoosts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost recipients count
      tags:
      - Boosts
      x-accepts:
      - application/json
  /boost/children-profile-managers:
    post:
      description: Get Profile Managers that are a child of a boost
      operationId: boost-getChildrenProfileManagers
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getChildrenProfileManagers_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getChildrenProfileManagers_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get Profile Managers that are a child of a boost
      tags:
      - Boosts
      - Profile Managers
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/children:
    post:
      description: This endpoint gets the children of a particular boost
      operationId: boost-getBoostChildren
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getBoostChildren_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getPaginatedBoosts_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost children
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/children/count:
    post:
      description: This endpoint counts the children of a particular boost
      operationId: boost-countBoostChildren
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_countBoostChildren_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Count boost children
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/siblings:
    post:
      description: This endpoint gets the siblings of a particular boost
      operationId: boost-getBoostSiblings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getBoostSiblings_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getPaginatedBoosts_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost siblings
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/siblings/count:
    post:
      description: This endpoint counts the siblings of a particular boost
      operationId: boost-countBoostSiblings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_countBoostSiblings_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Count boost siblings
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/family:
    post:
      description: "This endpoint gets the parents, children, and siblings of a particular\
        \ boost"
      operationId: boost-getFamilialBoosts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getFamilialBoosts_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getPaginatedBoosts_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get familial boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/family/count:
    post:
      description: "This endpoint counts the parents, children, and siblings of a\
        \ particular boost"
      operationId: boost-countFamilialBoosts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_countFamilialBoosts_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Count familial boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/parents:
    post:
      description: This endpoint gets the parents of a particular boost
      operationId: boost-getBoostParents
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getBoostChildren_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getPaginatedBoosts_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost parents
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/parents/count:
    post:
      description: This endpoint counts the parents of a particular boost
      operationId: boost-countBoostParents
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_countBoostChildren_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Count boost parents
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/admins:
    post:
      description: This route returns the admins for a boost
      operationId: boost-getBoostAdmins
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_getBoostAdmins_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getBoostAdmins_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost admins
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/add-admin:
    post:
      description: This route adds a new admin for a boost
      operationId: boost-addBoostAdmin
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_addBoostAdmin_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Add a Boost admin
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/remove-admin:
    post:
      description: This route removes an  admin from a boost
      operationId: boost-removeBoostAdmin
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_addBoostAdmin_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Remove a Boost admin
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/permissions:
    get:
      description: This endpoint gets permission metadata about a boost
      operationId: boost-getBoostPermissions
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getBoost_200_response_claimPermissions'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost permissions
      tags:
      - Boosts
      x-accepts:
      - application/json
    post:
      description: This endpoint updates permission metadata about a boost for the
        current user
      operationId: boost-updateBoostPermissions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_updateBoostPermissions_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Update boost permissions
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/permissions/{profileId}:
    get:
      description: This endpoint gets permission metadata about a boost for someone
        else
      operationId: boost-getOtherBoostPermissions
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getBoost_200_response_claimPermissions'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get boost permissions for someone else
      tags:
      - Boosts
      x-accepts:
      - application/json
    post:
      description: This endpoint updates permission metadata about a boost for another
        user
      operationId: boost-updateOtherBoostPermissions
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_updateBoostPermissions_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Update other profile's boost permissions
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/generate-claim-link:
    post:
      description: This route creates a challenge that an unknown profile can use
        to claim a boost.
      operationId: boost-generateClaimLink
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_generateClaimLink_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_generateClaimLink_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Generate a claim link for a boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/claim:
    post:
      description: "Claims a boost using a claim link, including a challenge"
      operationId: boost-claimBoostWithLink
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_generateClaimLink_200_response'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Claim a boost using a claim link
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/make-parent:
    post:
      description: This endpoint creates a parent/child relationship between two boosts
      operationId: boost-makeBoostParent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_makeBoostParent_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Make Boost Parent
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/remove-parent:
    post:
      description: This endpoint removes a parent/child relationship between two boosts
      operationId: boost-removeBoostParent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_makeBoostParent_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Remove Boost Parent
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/send/via-signing-authority/{profileId}:
    post:
      description: Issues a boost VC to a recipient profile using a specified signing
        authority and sends it via the network.
      operationId: boost-sendBoostViaSigningAuthority
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boost_sendBoostViaSigningAuthority_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Send a boost to a profile using a signing authority
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /claim-hook/create:
    post:
      description: This route creates a claim hook. Claim hooks are an atomic action
        that will be performed when a boost is claimed
      operationId: claimHook-createClaimHook
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/claimHook_createClaimHook_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Creates a claim hook
      tags:
      - Claim Hooks
      x-content-type: application/json
      x-accepts:
      - application/json
  /claim-hook/get:
    post:
      description: This route gets claim hooks attached to a given boost
      operationId: claimHook-getClaimHooksForBoost
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/claimHook_getClaimHooksForBoost_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/claimHook_getClaimHooksForBoost_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Gets Claim Hooks
      tags:
      - Claim Hooks
      x-content-type: application/json
      x-accepts:
      - application/json
  /claim-hook/update:
    post:
      description: This route deletes a claim hook
      operationId: claimHook-deleteClaimHook
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/claimHook_deleteClaimHook_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Delete a Claim Hook
      tags:
      - Claim Hooks
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/create:
    post:
      description: Creates a profile for a user
      operationId: profile-createProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profile_createProfile_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Create a profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/create-service:
    post:
      description: Creates a service profile
      operationId: profile-createServiceProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profile_createProfile_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Create a service profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/create-managed-service:
    post:
      description: Creates a managed service profile
      operationId: profile-createManagedServiceProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profile_createProfile_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Create a managed service profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile:
    delete:
      description: This route deletes the profile of the current user
      operationId: profile-deleteProfile
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Delete your profile
      tags:
      - Profiles
      x-accepts:
      - application/json
    get:
      description: This route uses the request header to grab the profile of the current
        user
      operationId: profile-getProfile
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profile_getProfile_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get your profile information
      tags:
      - Profiles
      x-accepts:
      - application/json
    post:
      description: This route updates the profile of the current user
      operationId: profile-updateProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profile_updateProfile_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Update your profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/{profileId}:
    get:
      description: "This route grabs the profile information of any user, using their\
        \ profileId"
      operationId: profile-getOtherProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profile_getProfile_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      summary: Get profile information
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/available-profiles:
    post:
      description: "This route gets all of your available profiles. That is, profiles\
        \ you directly or indirectly manage"
      operationId: profile-getAvailableProfiles
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profile_getAvailableProfiles_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profile_getAvailableProfiles_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      summary: Available Profiles
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/managed-services:
    get:
      description: This route gets all of your managed service profiles
      operationId: profile-getManagedServiceProfiles
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          type: number
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getBoostAdmins_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      summary: Managed Service Profiles
      tags:
      - Profiles
      x-accepts:
      - application/json
  /search/profiles/{input}:
    get:
      description: This route searches for profiles based on their profileId
      operationId: profile-searchProfiles
      parameters:
      - explode: false
        in: path
        name: input
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          exclusiveMaximum: true
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: includeSelf
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeConnectionStatus
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeServiceProfiles
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/profile_searchProfiles_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      summary: Search profiles
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/connect:
    post:
      description: This route uses the request header to send a connection request
        to another user based on their profileId
      operationId: profile-connectWith
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Connect with another profile
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/cancel-connection-request:
    post:
      description: Cancels connection request with another profile
      operationId: profile-cancelConnectionRequest
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Cancel Connection Request
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/connect/{challenge}:
    post:
      description: Connects with another profile using an invitation challenge
      operationId: profile-connectWithInvite
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: challenge
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Connect using an invitation
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/disconnect:
    post:
      description: This route uses the request header to disconnect with another user
        based on their profileId
      operationId: profile-disconnectWith
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Disconnect with another profile
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/accept-connection:
    post:
      description: This route uses the request header to accept a connection request
        from another user based on their profileId
      operationId: profile-acceptConnectionRequest
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Accept Connection Request
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/connections:
    get:
      deprecated: true
      description: |-
        This route shows the current user's connections.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 connections. Please use paginatedConnections instead!
      operationId: profile-connections
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/boost_getBoostRecipients_200_response_inner_to'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: View connections
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/connections/paginated:
    get:
      description: This route shows the current user's connections
      operationId: profile-paginatedConnections
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          type: number
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getBoostAdmins_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: View connections
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/pending-connections:
    get:
      deprecated: true
      description: |-
        This route shows the current user's pending connections.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 connections. Please use paginatedPendingConnections instead
      operationId: profile-pendingConnections
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/boost_getBoostRecipients_200_response_inner_to'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: View pending connections
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/pending-connections/paginated:
    get:
      description: This route shows the current user's pending connections
      operationId: profile-paginatedPendingConnections
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          type: number
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getBoostAdmins_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: View pending connections
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/connection-requests:
    get:
      deprecated: true
      description: |-
        This route shows the current user's connection requests.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 connections. Please use paginatedConnectionRequests instead
      operationId: profile-connectionRequests
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/boost_getBoostRecipients_200_response_inner_to'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: View connection requests
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/connection-requests/paginated:
    get:
      description: This route shows the current user's connection requests
      operationId: profile-paginatedConnectionRequests
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          type: number
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getBoostAdmins_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: View connection requests
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/generate-invite:
    post:
      description: This route creates a one-time challenge that an unknown profile
        can use to connect with this account
      operationId: profile-generateInvite
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profile_generateInvite_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profile_generateInvite_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Generate a connection invitation
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/{profileId}/block:
    post:
      description: Block another user based on their profileId
      operationId: profile-blockProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Block another profile
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/unblock:
    post:
      description: Unblock another user based on their profileId
      operationId: profile-unblockProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Unblock another profile
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/blocked:
    get:
      description: This route shows the current user's blocked profiles
      operationId: profile-blocked
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/boost_getBoostRecipients_200_response_inner_to'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: View blocked profiles
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/signing-authority/register:
    post:
      description: This route is used to register a signing authority that can sign
        credentials on the current user's behalf
      operationId: profile-registerSigningAuthority
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profile_registerSigningAuthority_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Register a Signing Authority
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/signing-authority/get/all:
    get:
      description: This route is used to get registered signing authorities that can
        sign credentials on the current user's behalf
      operationId: profile-signingAuthorities
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/profile_signingAuthorities_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get Signing Authorities for user
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/signing-authority/get:
    get:
      description: This route is used to get a named signing authority that can sign
        credentials on the current user's behalf
      operationId: profile-signingAuthority
      parameters:
      - explode: true
        in: query
        name: endpoint
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profile_signingAuthority_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get Signing Authority for user
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile-manager/create:
    post:
      description: Creates a profile manager
      operationId: profileManager-createProfileManager
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profileManager_createProfileManager_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Create a profile manager
      tags:
      - Profile Managers
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile-manager/create-child:
    post:
      description: Creates a profile manager that is a child of a Boost
      operationId: profileManager-createChildProfileManager
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profileManager_createChildProfileManager_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Create a profile manager that is a child of a Boost
      tags:
      - Profile Managers
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/create-managed-profile:
    post:
      description: Creates a managed profile
      operationId: profileManager-createManagedProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profileManager_createManagedProfile_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Create a managed profile
      tags:
      - Profiles
      - Profile Managers
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/managed-profiles:
    post:
      description: This route gets all of your managed profiles
      operationId: profileManager-getManagedProfiles
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profile_getAvailableProfiles_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_getBoostAdmins_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      summary: Managed Profiles
      tags:
      - Profiles
      - Profile Managers
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile-manager:
    get:
      description: This route uses the request header to grab the profile manager
        profile of the current profile manager
      operationId: profileManager-getProfileManager
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profileManager_getProfileManager_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get your profile manager profile information
      tags:
      - Profile Managers
      x-accepts:
      - application/json
    post:
      description: This route updates the profile of the current profile manager
      operationId: profileManager-updateProfileManager
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profileManager_createProfileManager_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Update the profile of your Profile Manager
      tags:
      - Profile Managers
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile-manager/{id}:
    get:
      description: "This route grabs the profile information of any profile manager,\
        \ using their id"
      operationId: profileManager-getOtherProfileManager
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profileManager_getProfileManager_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      summary: Get profile manager information
      tags:
      - Profile Managers
      x-accepts:
      - application/json
  /credential/send/{profileId}:
    post:
      description: This endpoint sends a credential to a user based on their profileId
      operationId: credential-sendCredential
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/credential_sendCredential_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Send a Credential
      tags:
      - Credentials
      x-content-type: application/json
      x-accepts:
      - application/json
  /credential/accept:
    post:
      description: This endpoint accepts a credential
      operationId: credential-acceptCredential
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/credential_acceptCredential_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Accept a Credential
      tags:
      - Credentials
      x-content-type: application/json
      x-accepts:
      - application/json
  /credentials/received:
    get:
      description: This endpoint returns the current user's received credentials
      operationId: credential-receivedCredentials
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          exclusiveMaximum: true
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential_receivedCredentials_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get received credentials
      tags:
      - Credentials
      x-accepts:
      - application/json
  /credentials/sent:
    get:
      description: This endpoint returns the current user's sent credentials
      operationId: credential-sentCredentials
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          exclusiveMaximum: true
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential_receivedCredentials_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get sent credentials
      tags:
      - Credentials
      x-accepts:
      - application/json
  /credentials/incoming:
    get:
      description: This endpoint returns the current user's incoming credentials
      operationId: credential-incomingCredentials
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          exclusiveMaximum: true
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential_receivedCredentials_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get incoming credentials
      tags:
      - Credentials
      x-accepts:
      - application/json
  /credential:
    delete:
      description: This endpoint deletes a credential
      operationId: credential-deleteCredential
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Delete a credential
      tags:
      - Credentials
      x-accepts:
      - application/json
  /presentation/send/{profileId}:
    post:
      description: This endpoint sends a presentation to a user based on their profileId
      operationId: presentation-sendPresentation
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/presentation_sendPresentation_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Send a Presentation
      tags:
      - Presentations
      x-content-type: application/json
      x-accepts:
      - application/json
  /presentation/accept:
    post:
      description: This endpoint accepts a presentation
      operationId: presentation-acceptPresentation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/presentation_acceptPresentation_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Accept a Presentation
      tags:
      - Presentations
      x-content-type: application/json
      x-accepts:
      - application/json
  /presentation/received:
    get:
      description: This endpoint returns the current user's received presentations
      operationId: presentation-receivedPresentations
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          exclusiveMaximum: true
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential_receivedCredentials_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get received presentations
      tags:
      - Presentations
      x-accepts:
      - application/json
  /presentation/sent:
    get:
      description: This endpoint returns the current user's sent presentations
      operationId: presentation-sentPresentations
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          exclusiveMaximum: true
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential_receivedCredentials_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get sent presentations
      tags:
      - Presentations
      x-accepts:
      - application/json
  /presentation/incoming:
    get:
      description: This endpoint returns the current user's incoming presentations
      operationId: presentation-incomingPresentations
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          exclusiveMaximum: true
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential_receivedCredentials_200_response_inner'
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get incoming presentations
      tags:
      - Presentations
      x-accepts:
      - application/json
  /presentation:
    delete:
      description: This endpoint deletes a presentation
      operationId: presentation-deletePresentation
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Delete a presentation
      tags:
      - Presentations
      x-accepts:
      - application/json
  /storage/store:
    post:
      description: "This endpoint stores a credential/presentation, returning a uri\
        \ that can be used to resolve it"
      operationId: storage-store
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/storage_store_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Store a Credential/Presentation
      tags:
      - Storage
      x-content-type: application/json
      x-accepts:
      - application/json
  /storage/resolve:
    get:
      description: "This endpoint stores a credential/presentation, returning a uri\
        \ that can be used to resolve it"
      operationId: storage-resolve
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/storage_resolve_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      summary: Resolves a URI to a Credential/Presentation
      tags:
      - Storage
      x-accepts:
      - application/json
  /health-check:
    get:
      description: Check if the endpoint is healthy and well
      operationId: utilities-healthCheck
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      summary: Check health of endpoint
      tags:
      - Utilities
      x-accepts:
      - application/json
  /challenges:
    get:
      description: "Generates an arbitrary number of valid challenges for a did, then\
        \ returns them"
      operationId: utilities-getChallenges
      parameters:
      - explode: true
        in: query
        name: amount
        required: false
        schema:
          default: 100
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Request a list of valid challenges
      tags:
      - Utilities
      x-accepts:
      - application/json
  /did:
    get:
      description: Gets the did:web for the LCN itself
      operationId: utilities-getDid
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get LCN Did
      tags:
      - Utilities
      x-accepts:
      - application/json
  /consent-flow-contract:
    delete:
      description: This route deletes a Consent Flow Contract
      operationId: contracts-deleteConsentFlowContract
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Delete a Consent Flow Contract
      tags:
      - Contracts
      x-accepts:
      - application/json
    get:
      description: Gets Consent Flow Contract Details
      operationId: contracts-getConsentFlowContract
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contracts_getConsentFlowContract_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get Consent Flow Contracts
      tags:
      - Contracts
      x-accepts:
      - application/json
    post:
      description: Creates a Consent Flow Contract for a profile
      operationId: contracts-createConsentFlowContract
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_createConsentFlowContract_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Create Consent Flow Contract
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contracts:
    post:
      description: Gets Consent Flow Contracts for a profile
      operationId: contracts-getConsentFlowContracts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_getConsentFlowContracts_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contracts_getConsentFlowContracts_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get Consent Flow Contracts
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contract/data-for-contract:
    post:
      description: This route grabs all the data that has been consented for a contract
      operationId: contracts-getConsentedDataForContract
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_getConsentedDataForContract_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contracts_getConsentedDataForContract_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get the data that has been consented for a contract
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contract/data-for-did:
    post:
      description: This route grabs all the data that has been consented by a did
      operationId: contracts-getConsentedDataForDid
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_getConsentedDataForDid_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contracts_getConsentedDataForDid_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get the data that has been consented by a did
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contract/data:
    post:
      description: This route grabs all the data that has been consented for all of
        your contracts
      operationId: contracts-getConsentedData
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_getConsentedData_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contracts_getConsentedDataForContract_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Get the data that has been consented for all of your contracts
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contract/write:
    post:
      description: Writes a boost credential to a did that has consented to a contract
      operationId: contracts-writeCredentialToContract
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_writeCredentialToContract_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Writes a boost credential to a did that has consented to a contract
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contract/write/via-signing-authority:
    post:
      description: Issues and sends a boost credential via a registered signing authority
        to a DID that has consented to a contract.
      operationId: contracts-writeCredentialToContractViaSigningAuthority
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_writeCredentialToContractViaSigningAuthority_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Write credential through signing authority for a DID consented to a
        contract
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contract/consent:
    post:
      description: Consents to a Contract with a hard set of terms
      operationId: contracts-consentToContract
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_consentToContract_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Consent To Contract
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contracts/consent:
    post:
      description: Gets all consented contracts for a user
      operationId: contracts-getConsentedContracts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_getConsentedContracts_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contracts_getConsentedContracts_200_response'
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Gets Consented Contracts
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contract/consent/update:
    post:
      description: Updates the terms for a consented contract
      operationId: contracts-updateConsentedContractTerms
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contracts_updateConsentedContractTerms_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/boost_sendBoost_default_response'
          description: Error response
      security:
      - Authorization: []
      summary: Updates Contract Terms
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /consent-flow-contract/consent/withdraw:
    delete:
      description: Withdraws consent by deleting Contract Terms
      operationId: contracts-withdrawConsent
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
