openapi: 3.0.3
info:
  description: API for interacting with LearnCloud Network
  title: LearnCloud Network API
  version: 1.0.0
externalDocs:
  url: https://docs.learncard.com
servers:
- url: https://network.learncard.com/api
tags:
- name: Profiles
- name: Profile Managers
- name: Credentials
- name: Boosts
- name: Presentations
- name: Storage
- name: Contracts
- name: DID Metadata
- name: Claim Hooks
- name: Auth Grants
- name: Utilities
paths:
  /boost/send/{profileId}:
    post:
      description: This endpoint sends a boost to a profile
      operationId: boost-sendBoost
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_sendBoost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Send a Boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/create:
    post:
      description: This route creates a boost
      operationId: boost-createBoost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_createBoost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Creates a boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/create/child:
    post:
      description: This route creates a boost
      operationId: boost-createChildBoost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_createChildBoost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Creates a boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost:
    delete:
      description: This route deletes a boost
      operationId: boost-deleteBoost
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Delete a boost
      tags:
      - Boosts
      x-accepts:
      - application/json
    get:
      description: This endpoint gets metadata about a boost
      operationId: boost-getBoost
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoost_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost
      tags:
      - Boosts
      x-accepts:
      - application/json
    post:
      description: This route updates a boost
      operationId: boost-updateBoost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_updateBoost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Update a boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/all:
    post:
      deprecated: true
      description: |-
        This endpoint gets the current user's boosts.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 boosts. Please use getPaginatedBoosts instead
      operationId: boost-getBoosts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getBoosts_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/boost_getBoosts_200_response_inner"
                type: array
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/count:
    post:
      description: This endpoint counts the current user's managed boosts.
      operationId: boost-countBoosts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getBoosts_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Count managed boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/paginated:
    post:
      description: This endpoint gets the current user's boosts
      operationId: boost-getPaginatedBoosts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getPaginatedBoosts_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getPaginatedBoosts_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/recipients:
    get:
      deprecated: true
      description: |-
        This endpoint gets the recipients of a particular boost.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 boosts. Please use getPaginatedBoostRecipients instead
      operationId: boost-getBoostRecipients
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          type: number
        style: form
      - explode: true
        in: query
        name: skip
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: includeUnacceptedBoosts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/boost_getBoostRecipients_200_response_inner"
                type: array
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost recipients
      tags:
      - Boosts
      x-accepts:
      - application/json
  /boost/recipients/paginated:
    post:
      description: This endpoint gets the recipients of a particular boost
      operationId: boost-getPaginatedBoostRecipients
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getPaginatedBoostRecipients_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getPaginatedBoostRecipients_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost recipients
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/recipients/count:
    get:
      description: This endpoint counts the recipients of a particular boost
      operationId: boost-getBoostRecipientCount
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeUnacceptedBoosts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost recipients count
      tags:
      - Boosts
      x-accepts:
      - application/json
  /boost/children-profile-managers:
    post:
      description: Get Profile Managers that are a child of a boost
      operationId: boost-getChildrenProfileManagers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getChildrenProfileManagers_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getChildrenProfileManagers_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get Profile Managers that are a child of a boost
      tags:
      - Boosts
      - Profile Managers
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/children:
    post:
      description: This endpoint gets the children of a particular boost
      operationId: boost-getBoostChildren
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getBoostChildren_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getPaginatedBoosts_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost children
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/children/count:
    post:
      description: This endpoint counts the children of a particular boost
      operationId: boost-countBoostChildren
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_countBoostChildren_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Count boost children
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/siblings:
    post:
      description: This endpoint gets the siblings of a particular boost
      operationId: boost-getBoostSiblings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getBoostSiblings_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getPaginatedBoosts_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost siblings
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/siblings/count:
    post:
      description: This endpoint counts the siblings of a particular boost
      operationId: boost-countBoostSiblings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_countBoostSiblings_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Count boost siblings
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/family:
    post:
      description: "This endpoint gets the parents, children, and siblings of a particular\
        \ boost"
      operationId: boost-getFamilialBoosts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getFamilialBoosts_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getPaginatedBoosts_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get familial boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/family/count:
    post:
      description: "This endpoint counts the parents, children, and siblings of a\
        \ particular boost"
      operationId: boost-countFamilialBoosts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_countFamilialBoosts_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Count familial boosts
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/parents:
    post:
      description: This endpoint gets the parents of a particular boost
      operationId: boost-getBoostParents
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getBoostChildren_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getPaginatedBoosts_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost parents
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/parents/count:
    post:
      description: This endpoint counts the parents of a particular boost
      operationId: boost-countBoostParents
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_countBoostChildren_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Count boost parents
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/admins:
    post:
      description: This route returns the admins for a boost
      operationId: boost-getBoostAdmins
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_getBoostAdmins_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoostAdmins_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost admins
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/add-admin:
    post:
      description: This route adds a new admin for a boost
      operationId: boost-addBoostAdmin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_addBoostAdmin_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Add a Boost admin
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/remove-admin:
    post:
      description: This route removes an  admin from a boost
      operationId: boost-removeBoostAdmin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_addBoostAdmin_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Remove a Boost admin
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/permissions:
    get:
      description: This endpoint gets permission metadata about a boost
      operationId: boost-getBoostPermissions
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoost_200_response_claimPermissions"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost permissions
      tags:
      - Boosts
      x-accepts:
      - application/json
    post:
      description: This endpoint updates permission metadata about a boost for the
        current user
      operationId: boost-updateBoostPermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_updateBoostPermissions_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Update boost permissions
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/permissions/{profileId}:
    get:
      description: This endpoint gets permission metadata about a boost for someone
        else
      operationId: boost-getOtherBoostPermissions
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoost_200_response_claimPermissions"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get boost permissions for someone else
      tags:
      - Boosts
      x-accepts:
      - application/json
    post:
      description: This endpoint updates permission metadata about a boost for another
        user
      operationId: boost-updateOtherBoostPermissions
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_updateBoostPermissions_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Update other profile's boost permissions
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/generate-claim-link:
    post:
      description: This route creates a challenge that an unknown profile can use
        to claim a boost.
      operationId: boost-generateClaimLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_generateClaimLink_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_generateClaimLink_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Generate a claim link for a boost
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/claim:
    post:
      description: "Claims a boost using a claim link, including a challenge"
      operationId: boost-claimBoostWithLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_generateClaimLink_200_response"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Claim a boost using a claim link
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/make-parent:
    post:
      description: This endpoint creates a parent/child relationship between two boosts
      operationId: boost-makeBoostParent
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_makeBoostParent_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Make Boost Parent
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/remove-parent:
    post:
      description: This endpoint removes a parent/child relationship between two boosts
      operationId: boost-removeBoostParent
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_makeBoostParent_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Remove Boost Parent
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /boost/send/via-signing-authority/{profileId}:
    post:
      description: Issues a boost VC to a recipient profile using a specified signing
        authority and sends it via the network.
      operationId: boost-sendBoostViaSigningAuthority
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boost_sendBoostViaSigningAuthority_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Send a boost to a profile using a signing authority
      tags:
      - Boosts
      x-content-type: application/json
      x-accepts:
      - application/json
  /claim-hook/create:
    post:
      description: This route creates a claim hook. Claim hooks are an atomic action
        that will be performed when a boost is claimed
      operationId: claimHook-createClaimHook
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/claimHook_createClaimHook_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Creates a claim hook
      tags:
      - Claim Hooks
      x-content-type: application/json
      x-accepts:
      - application/json
  /claim-hook/get:
    post:
      description: This route gets claim hooks attached to a given boost
      operationId: claimHook-getClaimHooksForBoost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/claimHook_getClaimHooksForBoost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/claimHook_getClaimHooksForBoost_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Gets Claim Hooks
      tags:
      - Claim Hooks
      x-content-type: application/json
      x-accepts:
      - application/json
  /claim-hook/update:
    post:
      description: This route deletes a claim hook
      operationId: claimHook-deleteClaimHook
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/claimHook_deleteClaimHook_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Delete a Claim Hook
      tags:
      - Claim Hooks
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/create:
    post:
      description: Creates a profile for a user
      operationId: profile-createProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/profile_createProfile_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Create a profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/create-service:
    post:
      description: Creates a service profile
      operationId: profile-createServiceProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/profile_createProfile_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Create a service profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/create-managed-service:
    post:
      description: Creates a managed service profile
      operationId: profile-createManagedServiceProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/profile_createProfile_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Create a managed service profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile:
    delete:
      description: This route deletes the profile of the current user
      operationId: profile-deleteProfile
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Delete your profile
      tags:
      - Profiles
      x-accepts:
      - application/json
    get:
      description: This route uses the request header to grab the profile of the current
        user
      operationId: profile-getProfile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoostRecipients_200_response_inner_to"
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get your profile information
      tags:
      - Profiles
      x-accepts:
      - application/json
    post:
      description: This route updates the profile of the current user
      operationId: profile-updateProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/profile_updateProfile_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Update your profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/{profileId}:
    get:
      description: "This route grabs the profile information of any user, using their\
        \ profileId"
      operationId: profile-getOtherProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoostRecipients_200_response_inner_to"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get profile information
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/available-profiles:
    post:
      description: "This route gets all of your available profiles. That is, profiles\
        \ you directly or indirectly manage"
      operationId: profile-getAvailableProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/profile_getAvailableProfiles_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/profile_getAvailableProfiles_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Available Profiles
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/managed-services:
    get:
      description: This route gets all of your managed service profiles
      operationId: profile-getManagedServiceProfiles
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          type: number
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoostAdmins_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Managed Service Profiles
      tags:
      - Profiles
      x-accepts:
      - application/json
  /search/profiles/{input}:
    get:
      description: This route searches for profiles based on their profileId
      operationId: profile-searchProfiles
      parameters:
      - explode: false
        in: path
        name: input
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          exclusiveMaximum: true
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: includeSelf
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeConnectionStatus
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeServiceProfiles
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/profile_searchProfiles_200_response_inner"
                type: array
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Search profiles
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/connect:
    post:
      description: This route uses the request header to send a connection request
        to another user based on their profileId
      operationId: profile-connectWith
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Connect with another profile
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/cancel-connection-request:
    post:
      description: Cancels connection request with another profile
      operationId: profile-cancelConnectionRequest
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Cancel Connection Request
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/connect/{challenge}:
    post:
      description: Connects with another profile using an invitation challenge
      operationId: profile-connectWithInvite
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: challenge
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Connect using an invitation
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/disconnect:
    post:
      description: This route uses the request header to disconnect with another user
        based on their profileId
      operationId: profile-disconnectWith
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Disconnect with another profile
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/accept-connection:
    post:
      description: This route uses the request header to accept a connection request
        from another user based on their profileId
      operationId: profile-acceptConnectionRequest
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Accept Connection Request
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/connections:
    get:
      deprecated: true
      description: |-
        This route shows the current user's connections.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 connections. Please use paginatedConnections instead!
      operationId: profile-connections
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/boost_getBoostRecipients_200_response_inner_to"
                type: array
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: View connections
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/connections/paginated:
    get:
      description: This route shows the current user's connections
      operationId: profile-paginatedConnections
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          type: number
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoostAdmins_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: View connections
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/pending-connections:
    get:
      deprecated: true
      description: |-
        This route shows the current user's pending connections.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 connections. Please use paginatedPendingConnections instead
      operationId: profile-pendingConnections
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/boost_getBoostRecipients_200_response_inner_to"
                type: array
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: View pending connections
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/pending-connections/paginated:
    get:
      description: This route shows the current user's pending connections
      operationId: profile-paginatedPendingConnections
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          type: number
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoostAdmins_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: View pending connections
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/connection-requests:
    get:
      deprecated: true
      description: |-
        This route shows the current user's connection requests.
        Warning! This route is deprecated and currently has a hard limit of returning only the first 50 connections. Please use paginatedConnectionRequests instead
      operationId: profile-connectionRequests
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/boost_getBoostRecipients_200_response_inner_to"
                type: array
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: View connection requests
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/connection-requests/paginated:
    get:
      description: This route shows the current user's connection requests
      operationId: profile-paginatedConnectionRequests
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          type: number
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/boost_getBoostAdmins_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.NOT_FOUND"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: View connection requests
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/generate-invite:
    post:
      description: This route creates a one-time challenge that an unknown profile
        can use to connect with this account
      operationId: profile-generateInvite
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/profile_generateInvite_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/profile_generateInvite_200_response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Generate a connection invitation
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/{profileId}/block:
    post:
      description: Block another user based on their profileId
      operationId: profile-blockProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Block another profile
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/{profileId}/unblock:
    post:
      description: Unblock another user based on their profileId
      operationId: profile-unblockProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Unblock another profile
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/blocked:
    get:
      description: This route shows the current user's blocked profiles
      operationId: profile-blocked
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/boost_getBoostRecipients_200_response_inner_to"
                type: array
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: View blocked profiles
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/signing-authority/register:
    post:
      description: This route is used to register a signing authority that can sign
        credentials on the current user's behalf
      operationId: profile-registerSigningAuthority
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/profile_registerSigningAuthority_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.BAD_REQUEST"
          description: Invalid input data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Register a Signing Authority
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /profile/signing-authority/get/all:
    get:
      description: This route is used to get registered signing authorities that can
        sign credentials on the current user's behalf
      operationId: profile-signingAuthorities
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/profile_signingAuthorities_200_response_inner"
                type: array
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.UNAUTHORIZED"
          description: Authorization not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.FORBIDDEN"
          description: Insufficient access
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error.INTERNAL_SERVER_ERROR"
          description: Internal server error
      security:
      - Authorization: []
      summary: Get Signing Authorities for user
      tags:
      - Profiles
      x-accepts:
      - application/json
  /profile/signing-authority/get:
    get:
      description: This route is used to get a named signing authority that can sign
        credentials on the current user's behalf
      operationId: profile-signingAuthority
      parameters:
      - explode: true
        in: query
        name: endpoint
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
