---
import Layout from '@layouts/Layout.astro';
import LearnCard from '@assets/images/LearnCardBanner.png';
import LoadingIndicator from '@components/LoadingIndicator';
import SnapInfo from '@components/SnapInfo';

import '@learncard/react/dist/main.css';
---

<Layout title="LearnCard MetaMask Snap Example">
    <main class="fixed w-full h-full flex flex-col items-center justify-center bg-green-900">
        <section class="flex flex-col p-4 h-5/6 w-3/4 shadow-2xl border rounded bg-green-50">
            <header class="flex justify-center items-center p-4">
                <img src={LearnCard} alt="Learn Card" />
            </header>
            <section class="p-4 flex-grow overflow-auto border-y">
                <LoadingIndicator client:only="react" />
                <SnapInfo client:idle />
            </section>
        </section>
    </main>
</Layout>
