.credential-storage-footer-mobile {
    display: flex;
    @media (min-width: 992px) {
        display: none;
    }
}

.credential-storage-footer-desktop {
    display: none;
    @media (min-width: 992px) {
        display: flex;
    }
}

.credential-storage-vc-card {
    max-height: 665px;

    @media (max-width: 479px) {
        max-height: 705px;
    }
}