.wallet-squares-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.wallet-squares-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;

    @media (max-width: 479px) {
        justify-content: center;
        padding: 0px;
    }
}

.rounded-square-card-container {
    width: 370px;
    height: 190px;
    padding: 15px;
    border-radius: 40px;
    display: flex;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;

    @media (max-width: 479px) {
        max-width: 100%;
        max-height: 300px;
        margin: 5px 25px;
    }

    @media (max-width: 380px) {
        max-height: 200px;
        max-width: 320px;
    }
}

.flippy-wrapper-container {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    .credential-details-container {
        width: 100%;
    }
}

.vc-card-issued-to-info {
    text-overflow: ellipsis;
    max-width: 295px;
    p {
        font-size: 11px !important;
    }
}

.achievements-list-container {
    justify-content: center;

    @media (max-width: 479px) {
        justify-content: center;
    }

    .achievement-card-date {
        display: none;
    }
    & > button {
        max-height: 190px;
        display: flex;
        background-color: white;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 40%;

        @media (max-width: 479px) {
            width: 45%;
        }
    }
}

.credential-thumb-img {
    height: 100%;
    .flex.flex-row.w-full.line-clamp-2 {
        display: flex;
        flex-direction: column !important;
    }
}

.flippy-wrapper-container {
    padding: 0px 18px;
}

.achievements-page {
    --ion-background-color: #ff7040;
}

.wallet-ids-page {
    --ion-background-color: #facc15;
}

.learning-history-page {
    --ion-background-color: #fb7185;
}

.title-headline-container h3 {
    font-family: 'Mouse Memoirs';
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0.7px;
}

.card-face--front {
    h3 {
        color: #18224e !important;
        font-weight: 500;
    }
    transform: rotateY(180deg) scaleX(-1) translateZ(-1px) !important;
    -webkit-transform: rotateY(180deg) scaleX(-1) translateZ(-1px) !important;
}
.card-face--back {
    transform: scaleX(-1) translateZ(-1px) !important;
    -webkit-transform: scaleX(-1) translateZ(-1px) !important;
}

.course-card-detail-info,
.job-history-card {
    text-align: left;
}

.job-history-card {
    width: 100%;
    max-width: 400px;
}

.skill-vert-card-title-container {
    padding: 10px;
    overflow: hidden;

    h3 {
        padding: 10px;
        max-height: 60px;
        overflow: hidden;
    }
}

.lc-id-card {
    .barcode-container {
        display: none;
    }
}

.full-id-card-view {
    p {
        font-weight: 600;
        font-size: 17px;
        line-height: 150%;
    }

    p,
    h3 {
        margin-left: 10px;
        color: white !important;
        transform: translateY(-10px);
    }

    span {
        color: white !important;
    }
}

.generic-lc-thumb {
    width: 85%;
    .generic-display-card-img {
        object-fit: contain;
    }
}

.vc-flippy-display-container {
    .flippy-wrapper-container {
        transform: translateY(-100px);
    }
}

.header-mask {
    -webkit-mask-image: url('/src/assets/images/bg_curve_mask.svg');
    mask-image: url('/src/assets/images/bg_curve_mask.svg');
    -webkit-mask-position: bottom;
    mask-position: bottom;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: calc(100% + 80px);
}
