[build]
  command = "pnpm run build"
  publish = "dist"

[context.production.environment]
  NODE_VERSION = "20"

[context.deploy-preview.environment]
  NODE_VERSION = "20"

[context.branch-deploy.environment]
  NODE_VERSION = "20"
